name: Daily Check-in & Redeem

on:
  schedule:
    - cron: '40 21 * * *'
  workflow_dispatch:

jobs:
  checkin_redeem:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pip/wheels
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install --upgrade pip && pip install -r requirements.txt

      - name: Run Python Scripts
        env:
          COOKIES_MONDAY: ${{ secrets.COOKIES_MONDAY }}
          COOKIES_RM: ${{ secrets.COOKIES_RM }}
          COOKIES_SUNDAY: ${{ secrets.COOKIES_SUNDAY }}
          COOKIES_TRUC: ${{ secrets.COOKIES_TRUC }}
        run: python main.py
  