name: Test Cookie Secret

on:
  push:
    branches:
      - main
  workflow_dispatch:   # cho phép trigger thủ công

jobs:
  test-secret:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Run Python script
        env:
          HOYOVERSE_COOKIE: ${{ secrets.HOYOVERSE_COOKIE }}
        run: python test_read_env.py
