name: Test Cookie Secret

on:
  push:
    branches:
      - main         # mỗi lần push lên main sẽ chạy
  workflow_dispatch: # vẫn có nút trigger thủ công

jobs:
  test-secret-testing:
    runs-on: ubuntu-latest
    environment: TESTING   # dùng Environment TESTING

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Run Python script with TESTING cookies
        env:
          HOYOVERSE_COOKIE_1: ${{ secrets.COOKIES_1_TESTING }}
          HOYOVERSE_COOKIE_2: ${{ secrets.COOKIES_2_TESTING }}
        run: |
          echo "Running with TESTING cookies"
          python test_read_env.py

  test-secret-prod:
    runs-on: ubuntu-latest
    environment: PROD      # dùng Environment PROD

    needs: test-secret-testing  # chỉ chạy PROD sau khi TESTING ok (có thể bỏ nếu không cần)

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Run Python script with PROD cookies
        env:
          HOYOVERSE_COOKIE_1: ${{ secrets.COOKIES_1_PROD }}
          HOYOVERSE_COOKIE_2: ${{ secrets.COOKIES_2_PROD }}
        run: |
          echo "Running with PROD cookies"
          python test_read_env.py
